@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&family=Karla:wght@300;400;500;700&display=swap');
@font-face {
    /* 指定字體樣式 */
    /* font-family: 'Noto Sans TC';
    src: url(./fonts/NotoSansTC-Regular.otf); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Karla, Roboto, Geneva, Ubuntu, Helvetica, Arial, 'Noto Sans TC', '黑體-繁', 'Heiti TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
    background-color: #f9fbe7;
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
}

li {
    list-style: none;
}

.mask_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}


/* share section */

.trans_green {
    color: #10a0969f;
}

.dark_green {
    color: #31928c;
}

.seeds_green {
    color: #10a097;
}

.single-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bgimg_fixed {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* animation */

.fadeinupleft {
    animation-name: fadeinupleft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    /* forward 是停在最後的位置 */
    opacity: 0;
}


/* Top Section */

.header {
    background-color: #fefff5;
}

.header_wrap {
    position: absolute;
    z-index: 9;
    width: 100%;
    min-width: 1080px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}

.fixed {
    background-color: #f9fbe7f1;
    height: 65px;
    position: fixed;
    z-index: 8000;
    min-width: 1080px;
}

.fixed .logo {
    width: 65px;
}

.banner {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100vh;
    object-fit: cover;
    filter: opacity(0.9);
}

.logo {
    width: 80px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav li {
    margin: 0 20px;
    /* border-right: solid 7px #f0f4c2; */
}

.nav a {
    display: block;
    color: #10a097;
    text-align: center;
    font-size: 1.2rem;
}

.nav li:first-child a {
    /* border-bottom: solid 3px #f0f4c2; */
}

.nav a:hover {
    color: #f0f4c2;
}

h5 {
    position: absolute;
    z-index: 9;
    left: 35%;
    top: 50%;
    font-size: 5rem;
    text-align: center;
    color: #10a097;
}

.wel {
    transform: rotateX(0deg);
    animation: wel 1s infinite;
}

@keyframes wel {
    from {
        transform: rotateX(30deg);
    }
    to {
        transform: rotateX(-30deg);
    }
}


/* Events Section */

.events_section {
    position: relative;
    /* height: 100vh; */
}

.h2_events {
    text-align: center;
    font-size: 4rem;
    padding: 50px 30px 40px;
    color: #10a097;
}

.events_wrap {
    /* max-width: 960px; */
    max-width: 1024px;
    margin: 0 auto;
}

.events {
    display: flex;
    align-items: center;
}

.events li {
    width: 328px;
    height: 490px;
}

.events_items_main {
    margin: 0 20px;
}

.events_title {
    padding: 15px 10px 0 10px;
    font-size: 1.1rem;
    color: #31928c;
}

.events p {
    padding: 10px 0;
    font-size: 1rem;
    color: #10a097;
}

.more {
    font-size: 1rem;
    color: #10a0969f;
    text-align: center;
    margin: 100px auto 20px;
}

.arrow {
    position: absolute;
    bottom: 50%;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.arrow_left,
.arrow_right {
    width: 50px;
}


/* About Section */

.about_img {
    position: relative;
    height: 80vh;
    width: 100%;
    filter: opacity(0.9);
    background-image: url(./img/about.jpg);
}

.about_img h2 {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 80px;
    color: #10a097;
}

.desc {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 50px auto;
}

.desc_item {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.desc_item_reverse {
    flex-direction: row-reverse;
}

.desc_item figure {
    position: relative;
    width: 50%;
}

.po_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 73%;
    height: 95%;
    box-shadow: -132px 77px 5px #10a097;
}

.desc_item p {
    width: 50%;
    padding: 50px;
    font-size: 1rem;
    line-height: 20px;
    color: #666;
}

.po_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 87%;
    height: 107%;
    box-shadow: 73px 69px 5px #10a097;
}


/* Teachers section */

.teachers_img {
    position: relative;
    height: 80vh;
    width: 100%;
    filter: opacity(0.9);
    background-image: url(./img/teachers.jpg);
}

.teachers_img h2 {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 80px;
    color: #10a097;
}

.teachers_section {
    position: relative;
    height: 100vh;
}

.teachers_wrap {
    /* max-width: 960px; */
    max-width: 1024px;
    margin: 100px auto;
}

.tch {
    display: flex;
    align-items: center;
}

.tch_items {
    flex: 1;
    width: 155px;
    height: 600px;
    margin: 0 5px;
    overflow: hidden;
}

.tch_items img {
    filter: opacity(0.9);
    /* box-shadow: 11px 0px 1px #10a097; */
}

.tch_items img:hover {
    filter: brightness(50%);
    /* filter: opacity(.7); */
    cursor: pointer;
}

.tch_items:hover>div {
    display: block;
}

.tit_wrap {
    display: none;
    position: absolute;
    /* bottom: 100px; */
    padding-left: 10px;
    padding-bottom: 10px;
    width: 246px;
    background-color: rgba(250, 250, 210, 0.8);
}

.tch_items h3 {
    color: #10a097;
    margin: 10px 0 5px;
}

.tch_items p {
    color: #10a0969f;
    /* 單行省略號 */
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 5px 0; */
}


/* slick */

.teachers_section .slick-prev {
    left: -155px;
    top: 300px;
}

.teachers_section .slick-next {
    right: -155px;
    top: 300px;
}

.teachers_section .slick_list {
    max-width: 1024px;
}

.teachers_section .slick-slide {
    height: 700px;
    width: 155px;
    margin: 0 5px;
}


/* Testimonials section */

.testimonials_img {
    position: relative;
    height: 80vh;
    width: 100%;
    filter: opacity(0.85);
    background-image: url(./img/testimonials.jpg);
}

.testimonials_img h2 {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 80px;
    color: #10a097;
}

.testimonials_section {
    /* position: relative; */
    /* height: 100vh; */
}

.test_wrap {
    /* max-width: 1024px; */
    width: 100vw;
    margin: 80px 0;
    border-top: solid 1px #10a097;
    border-bottom: solid 1px #10a097;
    padding: 80px 0;
    overflow: hidden;
}

.test {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.test_items {
    flex: 1;
    width: 300px;
    height: 450px;
    /* margin: 0 20px; */
}

.test_img {
    filter: opacity(0.9);
}


/* Schedule Section */

.schedule_section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.schedule {
    width: 750px;
    margin: 58px 0 58px 342px;
    text-align: center;
    font-size: 2rem;
    padding: 8px 0px;
    background-color: #10a097;
    color: white;
    filter: opacity(0.9);
}

.calendar {
    max-width: 750px;
    margin: 0px auto;
    position: absolute;
    top: 5%;
    left: 24%;
    object-fit: contain;
}

.logo01,
.logo02 {
    width: 100%;
    object-fit: contain;
    position: absolute;
    opacity: 27%;
}

.logo01 {
    top: -436px;
    left: -652px;
}

.move_downleft {
    animation-name: movedownleft;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes movedownleft {
    0% {
        top: -436px;
        left: -652px;
        opacity: .5;
    }
    25% {
        top: -336px;
        left: -552px;
        opacity: .6;
    }
    50% {
        top: -336px;
        left: -652px;
        opacity: .7;
    }
    100% {
        top: -436px;
        left: -652px;
        opacity: .5;
    }
}

.logo02 {
    bottom: -319px;
    right: -516px;
}

.move_upright {
    animation-name: moveupright;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes moveupright {
    0% {
        bottom: -319px;
        right: -516px;
        opacity: .5;
    }
    25% {
        bottom: -310px;
        right: -500px;
        opacity: .6;
    }
    50% {
        bottom: -300px;
        right: -416px;
        opacity: .7;
    }
    100% {
        bottom: -319px;
        right: -516px;
        opacity: .5;
    }
}


/* Footer Section */

footer {
    position: relative;
    display: flex;
    height: 50vh;
    background-color: #f6fcc7;
    border-bottom: solid 30px #31928c;
    padding: 30px 20px 0;
}

footer .title_wrap {
    /* position: absolute;
    left: 70px;
    top: 20px; */
    margin: 0;
    flex: 1;
}

.footer {
    display: flex;
    flex: 5;
    justify-content: center;
}

.nav_footer {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.nav_footer li {
    margin: 10px 10px;
    text-align: center;
}

.nav_footer li a {
    color: #10a097;
}

.nav_footer li:first-child a {
    font-size: 1rem;
    font-weight: 800;
    color: #31928c;
}

.media {
    /* position: absolute;
    top: 45px;
    right: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.icon_media {
    width: 35px;
}

.icon_media li {
    margin: 0 0 10px;
}

small {
    position: absolute;
    bottom: 10px;
    left: 40%;
    color: #31928c;
}